<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Apna Music Station</title>
    <style>



.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
#playlist{
    list-style: none;
}
div.ex3 {
  background-color: rgb(19, 2, 2);
  width: 250px;
  height: 500px;
  overflow: auto;
  max-width:100%;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 25%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color: white;
}
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
.division{
  width:33%;
  height:100px;
  float:left;
  
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3a00ff5e;
  color: white;
  text-align: center;
}
    </style>
</head>
<body style="background-color: black; max-width:100%;height:auto;">

    <div class="topnav">
       
    <a class="active" href="#contact" >Contact</a>
    <a href="#about" >About Me</a>

      </div>

<div class="container"  style=" max-width:100%;height:auto;">
    <div class="row">
    <!-- <div class="division" style="text-align: center;">
        <br><br><br><br><br><br>
        <br><br><br>


 <div class="col-sm-4" style="text-align: center; ">
    <h3 style="color: honeydew;">choose your songs as your mood</h3>
    <a href="#" ><img src="static/lovemood.jpg" alt="Romance" width="50" height="40"  style="padding-right: 10px; "></a>
    <a href="#" ><img src="static/bhaktimood.jpg" alt="Bhakti" width="50" height="40"  style="padding-right: 10px; "></a>

</div> -->
  
       
    </div> -->
    <div  >
    
<div  class="center" style="border: 2px solid red; width: 327px; height: 500px; border-radius: 7%; overflow: auto; background-color: rgb(22, 6, 6);">
    <div class="card" style="text-align: center;">
        <h3 class="card-header" style="color: rgb(246, 245, 250); ">
            Apna Music Station
        </h3>
        <br>
        <div class="card-body"  style="text-align: center;">
            <p class="card-text"  >
                <audio src="" controls id="audioPlayer"   >
                    Sorry, your browser doesn't support html5!
                </audio>
                <div style="text-align: center;">
                <a href="#" onclick="playlist.prevTrack();"><img src="static/backward.png" alt="previous" width="40" height="30"  style="padding-right: 10px;color: rgb(20, 20, 20); "></a>
                <a href="#" onclick="playlist.toggleShuffle();"><img src="static/shuffle.png" alt="shuffle" width="40" height="30" style="padding-right: 10px;" ></a>
                <a href="#" onclick="playlist.nextTrack();"><img src="static/forward.png" alt="forward" width="40" height="30" style="padding-right: 10px;"></a>
            </div>
            <br>
                <ul id="playlist" style="text-align: left;" >
                    {% for song in products %}
                          
                    <li ><a href="{{song.Link}}" >{{song.Title}} </a></li>
                    {% endfor %}
                </ul>
            </p>
        </div>

        <div class="card-footer" >
            <br> <br>
            
        </div>
        
    </div>
  
    </div>
    
    </div></div></div>
    <div  style="max-width:100%;height:auto; text-align: center;">

    <img src="static/music.gif" >
</div>
    <div class="footer">
        <h3 style="color: honeydew;">Find me on social</h3>
            <a href="https://www.facebook.com/khirod.behera.33" class="fa fa-facebook"></a>
            <a href="https://twitter.com/beherakhirod015" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/khirod.bdk/" class="fa fa-instagram"></a>
            
      </div>

                    <!-- <div class="col-sm-4" >
                       
                        <div class="ex3">
                            <h3 style="text-align: center;color: rgb(255, 255, 255);"><u>Song List</u></h3><br>
                            {% for song in products %}
                                <li style="color: rgb(255, 255, 255);">{{song.Title}}</li>
                            {% endfor %}
                        </div> -->
                        
<!--                         
                   </div>
        </div>
    </div>
     -->
    
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script >

class AudioPlaylist{
    randomizeOrder(){
        for (var i = this.trackOrder.length - 1; i > 0; i--) {
            var j = Math.floor(Math.random() * (i + 1));
            var temp = this.trackOrder[i];
            this.trackOrder[i] = this.trackOrder[j];
            this.trackOrder[j] = temp;
        }
        return this.trackOrder;
    }
    setTrack(arrayPos){
    
        var liPos = this.trackOrder[arrayPos]; // convert array index to html index
        this.player.src = $("#"+this.playlistId+ " li a").eq(liPos).attr("href");
        $("."+this.currentClass).removeClass(this.currentClass);
        $("#"+this.playlistId+ " li").eq(liPos).addClass(this.currentClass);
        this.trackPos = arrayPos; // update based on array index position
    }
    prevTrack(){
        if(this.trackPos == 0)
            this.setTrack(0);
        else
            this.setTrack(this.trackPos - 1);
        this.player.play();
    }
    nextTrack(){
        // if track isn't the last track in array of tracks, go to next track
        if(this.trackPos < this.length - 1)
            this.setTrack(this.trackPos+1);
        else{
            if(this.shuffle)
                this.randomizeOrder();
            this.setTrack(0);
        }
        this.player.play();
            
    }
    setLoop(val){
        if(val === true)
            this.loop = true;
        else
            this.loop = false;
        return this.loop;
    }
    setShuffle(val){
        if(val == this.shuffle) // if no change
            return val;
        else{
            if(val === true){
                this.randomizeOrder();
                this.shuffle = true;
            }
            else{
                this.shuffle = false;
                // empty track array, fill array with indexs in order
                this.trackOrder = [];
                for(var i = 0; i < this.length; i++){
                    this.trackOrder.push(i);
                }
                
                // jump array to track position of currently playing track
                this.trackPos =  this.trackOrder.indexOf($("."+this.currentClass).index());
            }
            return this.shuffle;
        }
    }
    toggleShuffle(){
        if(this.shuffle === true)
            this.setShuffle(false);
        else
            this.setShuffle(true);
        return this.shuffle;
    }
    toggleLoop(){
        if(this.loop === true)
            this.setLoop(false);
        else
            this.setLoop(true);
        return this.loop;
    }
    constructor(config = {} ){
        
        /***
        *
        *       setting defaults, and initialzing player 
        *
        */
        
        var classObj = this; // store scope for event listeners
        this.shuffle = (config.shuffle === true) ? true : false;
        this.playerId = (config.playerId) ? config.playerId : "audioPlayer";
        this.playlistId = (config.playlistId) ? config.playlistId : "playlist";
        this.currentClass = (config.currentClass) ? config.currentClass : "current-song"
        this.length = $("#"+this.playlistId+" li").length; 
        this.player = $("#"+this.playerId)[0];
        this.autoplay = (config.autoplay === true || this.player.autoplay) ? true : false;
        this.loop = (config.loop === true) ? true : false;
        this.trackPos = 0;
        this.trackOrder = [];
        for(var i = 0; i < this.length; i++){
            this.trackOrder.push(i);
        }
        
        if(this.shuffle)
            this.randomizeOrder();
        
        this.setTrack(this.trackPos);
        if(this.autoplay)
            this.player.play();
        
         /***
        *
        *       handle link clicks
        *
        */
        $("#"+this.playlistId+" li a ").click(function(e){
            e.preventDefault();
            // set track based on index of 
            classObj.setTrack(classObj.trackOrder.indexOf($(this).parent().index()));
            classObj.player.play();
        });
        
         /***
        *
        *       handle end of track
        *
        */
        
        this.player.addEventListener("ended", function(){
            // if last track ended
            if(classObj.trackPos < classObj.length - 1){
                classObj.setTrack(classObj.trackPos+1);
                classObj.player.play();
            }
            else{
                if(classObj.loop){
                    if(classObj.shuffle)
                        classObj.randomizeOrder();
                    classObj.setTrack(0);
                    classObj.player.play();
                }
            }
        });
        
    }
}




    </script>
    <script>
        
        /*
    Default constructor configuration:
        autoplay: false,
        shuffle: false,
        loop: false,
        playerId: "audioPlayer",
        playlistId: "playlist",
        currentClass: "current-song"
        
        
*/
        
        // loads the audio player
        var config = {
          autoplay: true, 
            loop: true,
            shuffle: true
        };
        var playlist = new AudioPlaylist();
        
    </script>
</body>
</html>